header {
  text-align: center;
}

body {
  background: #FAFAFA;
}

footer {
  background-color: gainsboro;
}

hr {
  border: 0;
  height: 1px;
  background: #222;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.center-column {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.logo-img {
  max-width: 90%;
}


/* MAIN PAGE */
.couch-list-item {
  overflow:hidden;
}

.couch-info-container {
  margin: 25px;
}

.couch-img-container {
  height: 20em;
  width: 20em;
  float: left;
  margin: 25px;
}

.couch-img {
  max-height: 20em;
  max-width: 20em;
}

.label-error{
  color:red;
  font-size: 20px;
  text-align: center;
}
